<div class="welcome-bar">
  <div class="greetings">
    <span class="text-hello">Bonjour, </span>
    <span class="text-iam">Ici Elhadji Malang Diedhiou.</span>
    <span class="text-welcome">Mon site est actuellement en cours de construction. <br>Revenez dans quelques jours pour une meilleure expérience!</span>
      
      <!--div class="text-ilove">
        Je suis passionné de :
        <ul class="skills">
          <li>Développement Web</li>
          <li>Administration Systèmes</li>
          <li>Administration de bases de données</li>
        </ul>
      </div-->
    </div>
</div>